/* Text */

.text-center {
  text-align: center;
}

.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-big {
  font-size: 1.75rem;
}

/* Colors */
.bg-beige {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Buttons */
.btn {
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  letter-spacing: 2.1px;
}
.btn-beige {
  background-color: rgba(0, 0, 0, 0.8);
  color: beige;
}
.btn-beige:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: beige;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.btn-block {
  width: 100%;
}
/* Container */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Forms*/

.form-group {
  padding: 0.25em 0;
}
.form-group label {
  display: block;
}

.form-control {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.5rem;
  resize: none;
  border-radius: 6px;
}
